body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

.container {
  flex: 1; /* Ensures the main content takes up available space */
}

.btn-color {
  background-color: #fc385c !important;
  color: white !important;
  font-weight: 500 !important;
  transition: transform 0.3sec ease;
}
.btn-color:hover {
  transform: scale(1.05);
}

.eye-toggle{
  position: absolute;
  right: 2.5rem;
  top: 2.1rem;

  cursor: pointer;
  font-size: 1.4rem;
  color: black;
  opacity: 0.6;
  z-index: 5;
}