.f-bar {
  height: 40px;
  width: 100%;
}

.support a:hover {
  text-decoration: underline;
  color: #000;
}

.f-icons a i:hover {
  color: #000;
  background-color: #f0f0f0;
}

.lang {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  gap: 5px;
  font-size: 14px;
  color: #222222;
  cursor: pointer;
  transition:
    background-color 0.2s,
    color 0.2s background-radius 0.2s;
}

.lang:hover {
  border-radius: 8px;
  background-color: #f0f0f0;
  color: #000;
}
